head {
    background-color: #131313;
    padding: 1rem;
    display: flex;
    align-items: center;
}

h1 {
    align-items: center;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 1.5rem;
}

navbar {
    display: flex;
    justify-content: center;
    background-color: #1d6337;
    padding: 0;
}

a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #444444;
    margin: 10px;
    padding: 10px;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

div.form-section {
    background-color: #cfcfcf;
    padding: 1rem;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-right: 0.5rem;
    align-self: left;
}
input {
    padding: 5px;
    margin: 0.5rem 0;
    width: 50%;
    border-radius: 5px;
}

div.button-group {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 30px;
}

button {
    padding: 0.5rem;
    background-color: #1d6337;
    margin: 10px 0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}