<!DOCTYPE html>
<html lang="en">
<head role="banner">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
        <h1>Password Manager</h1>
    <p>Signed in as {{ username }}</p>
    <form method="POST" action="{{ url_for('logout') }}">
        <button type="submit">Logout</button>
    </form>
    <navbar class="navbar">
        <a class="active" href="#">Add Password</a>
        <a href="#">View Passwords</a>
    </navbar>
    <div class="container">
            <h2>Add New Password</h2>
        <div class="form-section">
            <div class="input-group">
                <label for="site">Website:</label>
                <input type="text" id="site" placeholder="Site">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Username">
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="button-group">
                <button onclick="generatePassword()">Generate Password</button>
                <button onclick="addPassword()">Add Password</button>
            </div>
        </div>

        <p id="generatedPassword" class="generated-password"></p>

    </div>
    <ul id="passwordList" class="password-list"></ul>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>